/JmsResponseTests.class
/MessageContentsDelegate.class
/MessageDelegate.class
/MessageListenerAdapterTests$SerializableObject.class
/MessageListenerAdapterTests.class
/MessagingMessageListenerAdapterTests$Full.class
/MessagingMessageListenerAdapterTests$SampleBean.class
/MessagingMessageListenerAdapterTests$SampleResponse.class
/MessagingMessageListenerAdapterTests$Summary.class
/MessagingMessageListenerAdapterTests.class
/ResponsiveJmsTextMessageReturningMessageDelegate.class
/ResponsiveMessageDelegate.class
/StubMessageListenerAdapter.class
