/AppCacheManifestTransformerTests.class
/CachingResourceResolverTests.class
/ContentBasedVersionStrategyTests.class
/CssLinkResourceTransformerTests.class
/FixedVersionStrategyTests.class
/GzipResourceResolverTests.class
/PathResourceResolverTests.class
/ResourceHttpRequestHandlerTests$TestServletContext.class
/ResourceHttpRequestHandlerTests.class
/ResourceTransformerSupportTests$TestResourceTransformerSupport.class
/ResourceTransformerSupportTests.class
/ResourceUrlEncodingFilterTests.class
/ResourceUrlProviderJavaConfigTests$TestServlet.class
/ResourceUrlProviderJavaConfigTests$WebConfig.class
/ResourceUrlProviderJavaConfigTests.class
/ResourceUrlProviderTests$HandlerMappingConfiguration.class
/ResourceUrlProviderTests.class
/VersionResourceResolverTests.class
/WebJarsResourceResolverTests.class
