/WebMvcStompEndpointRegistryTests.class
/WebMvcStompWebSocketEndpointRegistrationTests.class
/WebSocketConfigurationTests$TestConfig.class
/WebSocketConfigurationTests$TestHandler.class
/WebSocketConfigurationTests.class
/WebSocketHandlerRegistrationTests$Mapping.class
/WebSocketHandlerRegistrationTests$TestWebSocketHandlerRegistration.class
/WebSocketHandlerRegistrationTests.class
/WebSocketMessageBrokerConfigurationSupportTests$TestChannel.class
/WebSocketMessageBrokerConfigurationSupportTests$TestChannelConfig.class
/WebSocketMessageBrokerConfigurationSupportTests$TestConfigurer.class
/WebSocketMessageBrokerConfigurationSupportTests$TestController.class
/WebSocketMessageBrokerConfigurationSupportTests$WebSocketHandlerDecoratorConfig.class
/WebSocketMessageBrokerConfigurationSupportTests.class
