/AnnotationConfigWebApplicationContextTests$Config.class
/AnnotationConfigWebApplicationContextTests$TestBean.class
/AnnotationConfigWebApplicationContextTests.class
/ResourceTests.class
/Spr8510Tests.class
/SpringBeanAutowiringSupportTests$InjectionTarget.class
/SpringBeanAutowiringSupportTests.class
/StandardServletEnvironmentTests.class
