/AnnotatedEndpointConnectionManager.class
/EndpointConnectionManager.class
/StandardWebSocketClient$StandardWebSocketClientConfigurator.class
/StandardWebSocketClient.class
/WebSocketContainerFactoryBean.class
/package-info.class
