/BooleanComparatorTests.class
/ComparableComparatorTests.class
/CompoundComparatorTests.class
/InstanceComparatorTests$C1.class
/InstanceComparatorTests$C2.class
/InstanceComparatorTests$C3.class
/InstanceComparatorTests$C4.class
/InstanceComparatorTests$I1.class
/InstanceComparatorTests$I2.class
/InstanceComparatorTests.class
/InvertibleComparatorTests.class
/NullSafeComparatorTests.class
