/RequestMappingInfoHandlerMappingTests$TestController.class
/RequestMappingInfoHandlerMappingTests$TestRequestMappingInfoHandlerMapping.class
/RequestMappingInfoHandlerMappingTests$UserController.class
/RequestMappingInfoHandlerMappingTests.class
/RequestMappingInfoHandlerMethodMappingNamingStrategyTests$TestController.class
/RequestMappingInfoHandlerMethodMappingNamingStrategyTests.class
/RequestMappingInfoTests.class
