/SimpAttributesContextHolderTests.class
/SimpAttributesTests.class
/SimpMessageHeaderAccessorTests.class
/SimpMessageTypeMessageConditionTests.class
/SimpMessagingTemplateTests.class
/SimpSessionScopeTests.class
/TestPrincipal.class
