/BufferedImageHttpMessageConverterTests.class
/ByteArrayHttpMessageConverterTests.class
/FormHttpMessageConverterTests$MockHttpOutputMessageRequestContext.class
/FormHttpMessageConverterTests$MyBean.class
/FormHttpMessageConverterTests.class
/HttpMessageConverterTests$MyHttpMessageConverter.class
/HttpMessageConverterTests$MyType.class
/HttpMessageConverterTests.class
/ObjectToStringHttpMessageConverterTests.class
/ResourceHttpMessageConverterTests.class
/StringHttpMessageConverterTests.class
