/MappingJackson2JsonViewTests$DelegatingSerializerFactory.class
/MappingJackson2JsonViewTests$MyJacksonView1.class
/MappingJackson2JsonViewTests$MyJacksonView2.class
/MappingJackson2JsonViewTests$TestBeanSimple.class
/MappingJackson2JsonViewTests$TestBeanSimpleAnnotated.class
/MappingJackson2JsonViewTests$TestBeanSimpleSerializer.class
/MappingJackson2JsonViewTests$TestChildBean.class
/MappingJackson2JsonViewTests$TestSimpleBeanFiltered.class
/MappingJackson2JsonViewTests.class
