/CachingDestinationResolverTests.class
/DestinationResolvingMessagingTemplateTests$TestDestinationResolvingMessagingTemplate.class
/DestinationResolvingMessagingTemplateTests.class
/GenericMessagingTemplateTests$TestDestinationResolver.class
/GenericMessagingTemplateTests.class
/MessageReceivingTemplateTests$TestMessagingTemplate.class
/MessageReceivingTemplateTests.class
/MessageRequestReplyTemplateTests$TestMessagingTemplate.class
/MessageRequestReplyTemplateTests.class
/MessageSendingTemplateTests$TestMessageSendingTemplate.class
/MessageSendingTemplateTests.class
/TestMessageChannelDestinationResolver.class
/TestMessagePostProcessor.class
