/WebRequestDataBinderIntegrationTests$AbstractStandardMultipartServlet.class
/WebRequestDataBinderIntegrationTests$PartListBean.class
/WebRequestDataBinderIntegrationTests$PartListServlet.class
/WebRequestDataBinderIntegrationTests$PartsBean.class
/WebRequestDataBinderIntegrationTests$PartsServlet.class
/WebRequestDataBinderIntegrationTests.class
/WebRequestDataBinderTests$EnumHolder.class
/WebRequestDataBinderTests$MyEnum.class
/WebRequestDataBinderTests$TestBeanWithConcreteSpouse.class
/WebRequestDataBinderTests.class
