/DefaultSimpUserRegistryTests$TestPrincipal.class
/DefaultSimpUserRegistryTests.class
/StompSubProtocolErrorHandlerTests.class
/StompSubProtocolHandlerTests$TestPublisher.class
/StompSubProtocolHandlerTests$UniqueUser.class
/StompSubProtocolHandlerTests.class
/StompTextMessageBuilder.class
/StompWebSocketIntegrationTests$IncrementController.class
/StompWebSocketIntegrationTests$IntegrationTestController.class
/StompWebSocketIntegrationTests$ScopedBean.class
/StompWebSocketIntegrationTests$ScopedBeanController.class
/StompWebSocketIntegrationTests$ScopedBeanImpl.class
/StompWebSocketIntegrationTests$SimpleController.class
/StompWebSocketIntegrationTests$TestClientWebSocketHandler.class
/StompWebSocketIntegrationTests$TestMessageBrokerConfiguration.class
/StompWebSocketIntegrationTests$TestMessageBrokerConfigurer.class
/StompWebSocketIntegrationTests.class
/SubProtocolWebSocketHandlerTests.class
/WebSocketAnnotationMethodMessageHandlerTests$TestController.class
/WebSocketAnnotationMethodMessageHandlerTests$TestControllerAdvice.class
/WebSocketAnnotationMethodMessageHandlerTests$TestWebSocketAnnotationMethodMessageHandler.class
/WebSocketAnnotationMethodMessageHandlerTests.class
/WebSocketStompClientIntegrationTests$TestConfig.class
/WebSocketStompClientIntegrationTests$TestHandler.class
/WebSocketStompClientIntegrationTests.class
/WebSocketStompClientTests$TestWebSocketStompClient.class
/WebSocketStompClientTests.class
