/DefaultJmsActivationSpecFactory.class
/JmsActivationSpecConfig.class
/JmsActivationSpecFactory.class
/JmsMessageEndpointFactory$JmsMessageEndpoint.class
/JmsMessageEndpointFactory$JmsResourceException.class
/JmsMessageEndpointFactory.class
/JmsMessageEndpointManager.class
/StandardJmsActivationSpecFactory.class
/package-info.class
