/ClassPathBeanDefinitionScannerScopeIntegrationTests$AnotherScopeTestInterface.class
/ClassPathBeanDefinitionScannerScopeIntegrationTests$IScopedTestBean.class
/ClassPathBeanDefinitionScannerScopeIntegrationTests$RequestScopedTestBean.class
/ClassPathBeanDefinitionScannerScopeIntegrationTests$ScopedTestBean.class
/ClassPathBeanDefinitionScannerScopeIntegrationTests$SessionScopedTestBean.class
/ClassPathBeanDefinitionScannerScopeIntegrationTests$SingletonScopedTestBean.class
/ClassPathBeanDefinitionScannerScopeIntegrationTests.class
