/GsonFactoryBeanTests$ByteArrayBean.class
/GsonFactoryBeanTests$DateBean.class
/GsonFactoryBeanTests$StringBean.class
/GsonFactoryBeanTests.class
/GsonHttpMessageConverterTests$MyBean.class
/GsonHttpMessageConverterTests.class
/Jackson2ObjectMapperBuilderTests$CustomIntegerModule.class
/Jackson2ObjectMapperBuilderTests$CustomIntegerSerializer.class
/Jackson2ObjectMapperBuilderTests$JacksonFilteredBean.class
/Jackson2ObjectMapperBuilderTests$ListContainer.class
/Jackson2ObjectMapperBuilderTests.class
/Jackson2ObjectMapperFactoryBeanTests$CustomIntegerModule.class
/Jackson2ObjectMapperFactoryBeanTests$CustomIntegerSerializer.class
/Jackson2ObjectMapperFactoryBeanTests$JacksonFilteredBean.class
/Jackson2ObjectMapperFactoryBeanTests.class
/MappingJackson2HttpMessageConverterTests$JacksonFilteredBean.class
/MappingJackson2HttpMessageConverterTests$JacksonViewBean.class
/MappingJackson2HttpMessageConverterTests$MyBean.class
/MappingJackson2HttpMessageConverterTests$MyInterface.class
/MappingJackson2HttpMessageConverterTests$MyJacksonView1.class
/MappingJackson2HttpMessageConverterTests$MyJacksonView2.class
/MappingJackson2HttpMessageConverterTests$PrettyPrintBean.class
/MappingJackson2HttpMessageConverterTests.class
/SpringHandlerInstantiatorTests$Capitalizer.class
/SpringHandlerInstantiatorTests$CustomTypeIdResolver.class
/SpringHandlerInstantiatorTests$CustomTypeResolverBuilder.class
/SpringHandlerInstantiatorTests$Group.class
/SpringHandlerInstantiatorTests$SecurityRegistry.class
/SpringHandlerInstantiatorTests$UpperCaseKeyDeserializer.class
/SpringHandlerInstantiatorTests$User.class
/SpringHandlerInstantiatorTests$UserDeserializer.class
/SpringHandlerInstantiatorTests$UserSerializer.class
/SpringHandlerInstantiatorTests.class
