/ClassPathBeanDefinitionScannerJsr330ScopeIntegrationTests$AnotherScopeTestInterface.class
/ClassPathBeanDefinitionScannerJsr330ScopeIntegrationTests$IScopedTestBean.class
/ClassPathBeanDefinitionScannerJsr330ScopeIntegrationTests$PrototypeScopedTestBean.class
/ClassPathBeanDefinitionScannerJsr330ScopeIntegrationTests$RequestScoped.class
/ClassPathBeanDefinitionScannerJsr330ScopeIntegrationTests$RequestScopedTestBean.class
/ClassPathBeanDefinitionScannerJsr330ScopeIntegrationTests$ScopedTestBean.class
/ClassPathBeanDefinitionScannerJsr330ScopeIntegrationTests$SessionScoped.class
/ClassPathBeanDefinitionScannerJsr330ScopeIntegrationTests$SessionScopedTestBean.class
/ClassPathBeanDefinitionScannerJsr330ScopeIntegrationTests$SingletonScopedTestBean.class
/ClassPathBeanDefinitionScannerJsr330ScopeIntegrationTests.class
