/ConvertingEncoderDecoderSupportTests$BytesToMyTypeConverter.class
/ConvertingEncoderDecoderSupportTests$Config.class
/ConvertingEncoderDecoderSupportTests$MyBinaryDecoder.class
/ConvertingEncoderDecoderSupportTests$MyBinaryEncoder.class
/ConvertingEncoderDecoderSupportTests$MyBinaryEncoderDecoder.class
/ConvertingEncoderDecoderSupportTests$MyTextDecoder.class
/ConvertingEncoderDecoderSupportTests$MyTextEncoder.class
/ConvertingEncoderDecoderSupportTests$MyTextEncoderDecoder.class
/ConvertingEncoderDecoderSupportTests$MyType.class
/ConvertingEncoderDecoderSupportTests$MyTypeToBytesConverter.class
/ConvertingEncoderDecoderSupportTests$MyTypeToStringConverter.class
/ConvertingEncoderDecoderSupportTests$NoConfig.class
/ConvertingEncoderDecoderSupportTests$NoConvertersConfig.class
/ConvertingEncoderDecoderSupportTests$StringToMyTypeConverter.class
/ConvertingEncoderDecoderSupportTests$WithAutowire.class
/ConvertingEncoderDecoderSupportTests.class
/StandardWebSocketHandlerAdapterTests.class
/StandardWebSocketSessionTests.class
