/MappingJackson2MessageConverterTests$Full.class
/MappingJackson2MessageConverterTests$MyAnotherBean.class
/MappingJackson2MessageConverterTests$MyBean.class
/MappingJackson2MessageConverterTests$Summary.class
/MappingJackson2MessageConverterTests.class
/MarshallingMessageConverterTests.class
/MessagingMessageConverterTests$TestMessageConverter.class
/MessagingMessageConverterTests.class
