/DataSourceJtaTransactionTests.class
/DataSourceTransactionManagerTests$TestTransactionSynchronization.class
/DataSourceTransactionManagerTests.class
/DelegatingDataSourceTests$DelegatingDataSourceWithWrapper.class
/DelegatingDataSourceTests$ExampleWrapper.class
/DelegatingDataSourceTests.class
/DriverManagerDataSourceTests.class
/TestDataSourceWrapper.class
/UserCredentialsDataSourceAdapterTests.class
