/MappingJackson2MessageConverter.class
/MarshallingMessageConverter.class
/MessageConversionException.class
/MessageConverter.class
/MessageType.class
/MessagingMessageConverter$LazyResolutionMessage.class
/MessagingMessageConverter.class
/SimpleMessageConverter.class
/SmartMessageConverter.class
/package-info.class
