/HttpComponentsHttpInvokerRequestExecutorTests.class
/HttpInvokerFactoryBeanIntegrationTests$ConfigWithPlainFactoryBean.class
/HttpInvokerFactoryBeanIntegrationTests$InvokerAutowiringConfig.class
/HttpInvokerFactoryBeanIntegrationTests$MyBean.class
/HttpInvokerFactoryBeanIntegrationTests$MyService.class
/HttpInvokerFactoryBeanIntegrationTests.class
/HttpInvokerTests$TestRemoteInvocation.class
/HttpInvokerTests$TestRemoteInvocationResultWrapper.class
/HttpInvokerTests$TestRemoteInvocationWrapper.class
/HttpInvokerTests.class
