/MappingJackson2XmlViewTests$DelegatingSerializerFactory.class
/MappingJackson2XmlViewTests$MyJacksonView1.class
/MappingJackson2XmlViewTests$MyJacksonView2.class
/MappingJackson2XmlViewTests$TestBeanSimple.class
/MappingJackson2XmlViewTests$TestBeanSimpleAnnotated.class
/MappingJackson2XmlViewTests$TestBeanSimpleSerializer.class
/MappingJackson2XmlViewTests$TestChildBean.class
/MappingJackson2XmlViewTests.class
/MarshallingViewTests.class
