/AbstractMessageConverterTests$TestMessageConverter.class
/AbstractMessageConverterTests.class
/DefaultContentTypeResolverTests.class
/GenericMessageConverterTests.class
/MappingJackson2MessageConverterTests$JacksonViewBean.class
/MappingJackson2MessageConverterTests$MyBean.class
/MappingJackson2MessageConverterTests$MyJacksonView1.class
/MappingJackson2MessageConverterTests$MyJacksonView2.class
/MappingJackson2MessageConverterTests.class
/MarshallingMessageConverterTests$MyBean.class
/MarshallingMessageConverterTests.class
/MessageConverterTests$TestMessageConverter.class
/MessageConverterTests.class
/SimpleMessageConverterTests.class
/StringMessageConverterTests.class
