/MethodMessageHandlerTests$DuplicateMappingsController.class
/MethodMessageHandlerTests$TestController.class
/MethodMessageHandlerTests$TestExceptionHandlerMethodResolver.class
/MethodMessageHandlerTests$TestMethodMessageHandler.class
/MethodMessageHandlerTests.class
