/ContentNegotiationManagerFactoryBeanTests$TestServletContext.class
/ContentNegotiationManagerFactoryBeanTests.class
/HeaderContentNegotiationStrategyTests.class
/MappingContentNegotiationStrategyTests$TestMappingContentNegotiationStrategy.class
/MappingContentNegotiationStrategyTests.class
/MappingMediaTypeFileExtensionResolverTests.class
/PathExtensionContentNegotiationStrategyTests.class
