/Jaxb2CollectionHttpMessageConverterTests$RootElement.class
/Jaxb2CollectionHttpMessageConverterTests$TestType.class
/Jaxb2CollectionHttpMessageConverterTests.class
/Jaxb2RootElementHttpMessageConverterTests$MyCustomElement.class
/Jaxb2RootElementHttpMessageConverterTests$MyCustomElementAdapter.class
/Jaxb2RootElementHttpMessageConverterTests$MyJaxb2RootElementHttpMessageConverter.class
/Jaxb2RootElementHttpMessageConverterTests$MyRootElement.class
/Jaxb2RootElementHttpMessageConverterTests$RootElement.class
/Jaxb2RootElementHttpMessageConverterTests$RootElementSubclass.class
/Jaxb2RootElementHttpMessageConverterTests$Type.class
/Jaxb2RootElementHttpMessageConverterTests.class
/MappingJackson2XmlHttpMessageConverterTests$JacksonViewBean.class
/MappingJackson2XmlHttpMessageConverterTests$MyBean.class
/MappingJackson2XmlHttpMessageConverterTests$MyJacksonView1.class
/MappingJackson2XmlHttpMessageConverterTests$MyJacksonView2.class
/MappingJackson2XmlHttpMessageConverterTests$MyXmlMapper.class
/MappingJackson2XmlHttpMessageConverterTests.class
/MarshallingHttpMessageConverterTests.class
/SourceHttpMessageConverterTests.class
