/AbstractMessageListenerContainerTests.class
/DefaultMessageListenerContainerTests.class
/SimpleMessageListenerContainerTests$SimpleMessageConsumer.class
/SimpleMessageListenerContainerTests$TestMessageListener.class
/SimpleMessageListenerContainerTests.class
