/DummyFactory.class
/DummyPackagePrivateFactory.class
/EncodedResourceTests.class
/MyDummyFactory1.class
/MyDummyFactory2.class
/PathMatchingResourcePatternResolverTests.class
/ResourceArrayPropertyEditorTests.class
/ResourcePropertySourceTests.class
/SpringFactoriesLoaderTests.class
