/CompositeRequestConditionTests.class
/ConsumesRequestConditionTests.class
/HeadersRequestConditionTests.class
/ParamsRequestConditionTests.class
/PatternsRequestConditionTests.class
/ProducesRequestConditionTests.class
/RequestConditionHolderTests.class
/RequestMethodsRequestConditionTests.class
