/CompositeUriComponentsContributorTests.class
/HandlerMethodArgumentResolverCompositeTests.class
/HandlerMethodReturnValueHandlerCompositeTests$Promise.class
/HandlerMethodReturnValueHandlerCompositeTests.class
/InvocableHandlerMethodTests$ExceptionRaisingArgumentResolver.class
/InvocableHandlerMethodTests$ExceptionRaisingHandler.class
/InvocableHandlerMethodTests$Handler.class
/InvocableHandlerMethodTests.class
/ModelAndViewContainerTests.class
/StubArgumentResolver.class
