/ParameterizableViewControllerTests.class
/PortletModeNameViewControllerTests.class
/PortletWrappingControllerTests$MyApplicationContext.class
/PortletWrappingControllerTests$MyPortlet.class
/PortletWrappingControllerTests.class
