/AnnotatedService.class
/AnnotatedServiceImpl.class
/AnnotatedServiceWithoutInterface.class
/EnableTransactionManagementIntegrationTests$AspectJTxConfig.class
/EnableTransactionManagementIntegrationTests$Config.class
/EnableTransactionManagementIntegrationTests$CustomTxManagerNameConfig.class
/EnableTransactionManagementIntegrationTests$DefaultTxManagerNameConfig.class
/EnableTransactionManagementIntegrationTests$DummyFooRepository.class
/EnableTransactionManagementIntegrationTests$EnableTxAndCachingConfig.class
/EnableTransactionManagementIntegrationTests$ExplicitTxManagerConfig.class
/EnableTransactionManagementIntegrationTests$FooRepository.class
/EnableTransactionManagementIntegrationTests$ImplicitTxManagerConfig.class
/EnableTransactionManagementIntegrationTests$JdbcFooRepository.class
/EnableTransactionManagementIntegrationTests$NonConventionalTxManagerNameConfig.class
/EnableTransactionManagementIntegrationTests$ProxyTargetClassTxConfig.class
/EnableTransactionManagementIntegrationTests.class
/NonAnnotatedService.class
/NonAnnotatedServiceImpl.class
/PTCFalse.class
/PTCTrue.class
/ProxyAnnotationDiscoveryTests.class
