/BeanFactoryDestinationResolver.class
/CachingDestinationResolver.class
/DestinationResolutionException.class
/DestinationResolver.class
/DynamicDestinationResolver.class
/JmsDestinationAccessor.class
/JndiDestinationResolver.class
/package-info.class
