/DynamicDestinationResolverTests.class
/JmsDestinationAccessorTests$StubJmsDestinationAccessor.class
/JmsDestinationAccessorTests.class
/JndiDestinationResolverTests$CountingCannedJndiDestinationResolver.class
/JndiDestinationResolverTests$OneTimeLookupJndiDestinationResolver.class
/JndiDestinationResolverTests.class
