/ContextLoaderInitializerTests$MyBean.class
/ContextLoaderInitializerTests$MyContextLoaderInitializer.class
/ContextLoaderInitializerTests$MyMockServletContext.class
/ContextLoaderInitializerTests.class
