/DefaultUserDestinationResolverTests.class
/MultiServerUserRegistryTests.class
/TestSimpSession.class
/TestSimpSubscription.class
/TestSimpUser.class
/UserDestinationMessageHandlerTests.class
/UserRegistryMessageHandlerTests.class
