/AbstractXmlWebApplicationContextTests$InitAndIB.class
/AbstractXmlWebApplicationContextTests.class
/PortletApplicationContextScopeTests.class
/PortletConfigAwareBean.class
/PortletContextAwareBean.class
/PortletContextAwareProcessorTests.class
/PortletRequestAttributesTests.class
/PortletWebRequestTests.class
/XmlPortletApplicationContextTests.class
