/DefaultJmsActivationSpecFactoryTests$StubActiveMQActivationSpec.class
/DefaultJmsActivationSpecFactoryTests$StubActiveMQResourceAdapter.class
/DefaultJmsActivationSpecFactoryTests$StubWebSphereActivationSpecImpl.class
/DefaultJmsActivationSpecFactoryTests$StubWebSphereResourceAdapterImpl.class
/DefaultJmsActivationSpecFactoryTests.class
/JmsMessageEndpointManagerTests.class
/StubJmsActivationSpec.class
/StubJmsActivationSpecFactory.class
