/BrowserCallback.class
/JmsMessageOperations.class
/JmsMessagingTemplate$MessagingMessageCreator.class
/JmsMessagingTemplate.class
/JmsOperations.class
/JmsTemplate$JmsTemplateResourceFactory.class
/JmsTemplate.class
/MessageCreator.class
/MessagePostProcessor.class
/ProducerCallback.class
/SessionCallback.class
/package-info.class
