/AnnotationExceptionHandlerMethodResolverTests$AmbiguousController.class
/AnnotationExceptionHandlerMethodResolverTests$ExceptionController.class
/AnnotationExceptionHandlerMethodResolverTests$InheritedController.class
/AnnotationExceptionHandlerMethodResolverTests$NoExceptionController.class
/AnnotationExceptionHandlerMethodResolverTests.class
/DefaultMessageHandlerMethodFactoryTests$CustomHandlerMethodArgumentResolver.class
/DefaultMessageHandlerMethodFactoryTests$SampleBean.class
/DefaultMessageHandlerMethodFactoryTests.class
/DestinationVariableMethodArgumentResolverTests.class
/HeaderMethodArgumentResolverTests$TestMessageHeaderAccessor.class
/HeaderMethodArgumentResolverTests.class
/HeadersMethodArgumentResolverTests$TestMessageHeaderAccessor.class
/HeadersMethodArgumentResolverTests.class
/MessageMethodArgumentResolverTests.class
/PayloadArgumentResolverTests$MyValid.class
/PayloadArgumentResolverTests.class
