/CompositePropertySourceTests.class
/CustomEnvironmentTests.class
/DummyEnvironment.class
/JOptCommandLinePropertySourceTests$OptionEnum.class
/JOptCommandLinePropertySourceTests.class
/MutablePropertySourcesTests.class
/PropertySourceTests.class
/PropertySourcesPropertyResolverTests$SomeType.class
/PropertySourcesPropertyResolverTests$SpecificType.class
/PropertySourcesPropertyResolverTests.class
/SimpleCommandLineParserTests.class
/SimpleCommandLinePropertySourceTests.class
/StandardEnvironmentTests.class
/SystemEnvironmentPropertySourceTests.class
