/ScheduledAndTransactionalAnnotationIntegrationTests$Config.class
/ScheduledAndTransactionalAnnotationIntegrationTests$JdkProxyTxConfig.class
/ScheduledAndTransactionalAnnotationIntegrationTests$MyRepository.class
/ScheduledAndTransactionalAnnotationIntegrationTests$MyRepositoryImpl.class
/ScheduledAndTransactionalAnnotationIntegrationTests$MyRepositoryWithScheduledMethod.class
/ScheduledAndTransactionalAnnotationIntegrationTests$MyRepositoryWithScheduledMethodImpl.class
/ScheduledAndTransactionalAnnotationIntegrationTests$RepoConfigA.class
/ScheduledAndTransactionalAnnotationIntegrationTests$RepoConfigB.class
/ScheduledAndTransactionalAnnotationIntegrationTests$SubclassProxyTxConfig.class
/ScheduledAndTransactionalAnnotationIntegrationTests.class
