/EnableCachingIntegrationTests$AspectJCacheConfig.class
/EnableCachingIntegrationTests$Config.class
/EnableCachingIntegrationTests$DummyFooRepository.class
/EnableCachingIntegrationTests$FooRepository.class
/EnableCachingIntegrationTests$ProxyTargetClassCachingConfig.class
/EnableCachingIntegrationTests.class
