/ParameterHandlerMappingTests.class
/ParameterMappingInterceptorTests.class
/PortletModeHandlerMappingTests.class
/PortletModeParameterHandlerMappingTests.class
/SimpleMappingExceptionResolverTests$AnotherOddException.class
/SimpleMappingExceptionResolverTests$NoSubstringMatchesThisException.class
/SimpleMappingExceptionResolverTests$SomeOddException.class
/SimpleMappingExceptionResolverTests$SomeOddExceptionChild.class
/SimpleMappingExceptionResolverTests.class
/UserRoleAuthorizationInterceptorTests.class
