/DelegatingNavigationHandlerTests$TestDecoratingNavigationHandler.class
/DelegatingNavigationHandlerTests$TestNavigationHandler.class
/DelegatingNavigationHandlerTests.class
/DelegatingPhaseListenerTests$TestListener.class
/DelegatingPhaseListenerTests.class
/MockFacesContext.class
/MockLifecycle.class
