/BeanPropertySqlParameterSourceTests$NoReadableProperties.class
/BeanPropertySqlParameterSourceTests.class
/MapSqlParameterSourceTests.class
/NamedParameterJdbcTemplateTests.class
/NamedParameterQueryTests$ParameterBean.class
/NamedParameterQueryTests.class
/NamedParameterUtilsTests.class
